modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
OPENROUTER_API_KEY = "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"
GOOGLE_API_KEY = "AIzaSyB3kVw31YHO3E_9rjqdmb6qQTECGNL_RNo"
